body{
    background-color: red;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    padding:10px 30px;
    gap:60px;
}
.cards-container div{
    height:350px;
    padding:5px 10px;
    background-color: rgb(64, 41, 3);
    color:white;
    border-radius:10px;
}
.cards-container  div h2{
    text-align:right;
}
.cards-container div img{
    width:100%;
}
.cards-container div:nth-child(6){
    grid-column:2 /3;
}
.cards-container div:nth-child(7){
    grid-column: 4/5;

}