*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: grey;
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    padding:10px 30px;
    gap:60px;
}
.cards-container div{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 12px;
    background-color: rgb(125 73 64);
    color: white;
    border-radius: 10px;
    cursor:pointer;
    transition:box-shadow 0.5s;
}
.cards-container div:hover{
    box-shadow:0 0 10px black;
}
.cards-container  div h2{
    text-align:right;
}
.cards-container div img{
    width:100%;
}
.cards-container div:nth-child(6){
    grid-column:2 /3;
}
.cards-container div:nth-child(7){
    grid-column: 4/5;
}
@media (max-width:996px){
    .cards-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5px 20px;
        gap: 40px;
    }
    .cards-container div:nth-child(7) {
        grid-column: 3/4;
    }
}
@media (max-width:766px){
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5px 20px;
        gap: 20px;
    }
}